@keyframes FadeInUp {
  from {
    opacity: 0;
    transform: translateY(0.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.FadeInUp {
  animation: FadeInUp 0.3s ease-in forwards;
}

@keyframes MenuScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.MenuScale {
  animation: MenuScale 0.3s ease-out forwards;
}

@keyframes GrowSideBar {
  from {
    width: 5.2rem;
  }
  to {
    width: 14rem;
  }
}

.GrowSideBar {
  animation: GrowSideBar 0.3s ease-out forwards;
}

@keyframes ShrinkSideBar {
  from {
    width: 14rem;
  }
  to {
    width: 5.2rem;
  }
}

.ShrinkSideBar {
  animation: ShrinkSideBar 0.3s ease-out forwards;
}
