@import url('./tailwind-utils.css');
@import url('./animations.css');

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

:root {
  /*indigo-600 tailwind*/
  --primary-color: #5850ec;
}

.fadeIn {
  animation: FadeIn 1s linear forwards;
}

.fadeOut {
  animation: FadeOut 1s linear forwards;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
