<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Set up a new password for [Product Name]</title>
  </head>
  <body style="-webkit-text-size-adjust: none; box-sizing: border-box; color: #74787e; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; height: 100%; line-height: 1.4; margin: 0; width: 100% !important;" bgcolor="#f2f4f6">
    <style type="text/css">
      body {
        width: 100% !important;
        height: 100%;
        margin: 0;
        line-height: 1.4;
        background-color: #f2f4f6;
        color: #74787e;
        -webkit-text-size-adjust: none;
      }
      @media only screen and (max-width: 600px) {
        .email-body_inner {
          width: 100% !important;
        }
        .email-footer {
          width: 100% !important;
        }
      }
      @media only screen and (max-width: 500px) {
        .button {
          width: 100% !important;
        }
      }
    </style>
    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, sans-serif; margin: 0; padding: 0; width: 100%;" bgcolor="#f2f4f6">
      <tr>
        <td align="center" style="box-sizing: border-box; font-family: Arial, sans-serif; word-break: break-word;">
          <table class="email-content" width="100%" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, sans-serif; margin: 0; padding: 0; width: 100%;">
            <tr>
              <td class="email-masthead" style="box-sizing: border-box; font-family: Arial, sans-serif; padding: 25px 0; word-break: break-word;" align="center">
                <a href="https://example.com" class="email-masthead_name" style="box-sizing: border-box; color: #bbbfc3; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none;">[Product Name]</a>
              </td>
            </tr>
            <tr>
              <td class="email-body" width="100%" cellpadding="0" cellspacing="0" style="-premailer-cellpadding: 0; -premailer-cellspacing: 0; border-bottom-color: #EDEFF2; border-bottom-style: solid; border-bottom-width: 1px; border-top-color: #EDEFF2; border-top-style: solid; border-top-width: 1px; box-sizing: border-box; font-family: Arial, sans-serif; margin: 0; padding: 0; width: 100%; word-break: break-word;" bgcolor="#ffffff">
                <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, sans-serif; margin: 0 auto; padding: 0; width: 570px;" bgcolor="#ffffff">
                  <tr>
                    <td class="content-cell" style="box-sizing: border-box; font-family: Arial, sans-serif; padding: 35px; word-break: break-word;">
                      <h1 style="box-sizing: border-box; color: #2f3133; font-family: Arial, sans-serif; font-size: 19px; font-weight: bold; margin-top: 0;" align="left">Hi ((var:first_name)) thanks for your email!,</h1>
                      <p style="box-sizing: border-box; color: #74787e; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5em; margin-top: 0;" align="left">We’ve received your contact request, and someone from our team will be in touch soon.</strong></p>
                          <br />The [Product Name] Team</p>         
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="box-sizing: border-box; font-family: Arial, sans-serif; word-break: break-word;">
                <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, sans-serif; margin: 0 auto; padding: 0; text-align: center; width: 570px;">
                  <tr>
                    <td class="content-cell" align="center" style="box-sizing: border-box; font-family: Arial, sans-serif; padding: 35px; word-break: break-word;">
                      <p class="sub align-center" style="box-sizing: border-box; color: #bbbfc3; font-family: Arial, sans-serif; font-size: 12px; line-height: 1.5em; margin-top: 0;" align="center">© 2021 [Product Name]. All rights reserved.</p>
                      <p class="sub align-center" style="box-sizing: border-box; color: #bbbfc3; font-family: Arial, sans-serif; font-size: 12px; line-height: 1.5em; margin-top: 0;" align="center">
                        [Company Name, LLC]
                        <br />1234 Street Rd.
                        <br />Suite 1234
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>