/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;

@import url('./tailwind-utils.css');
@import url('./animations.css');

/* 
  Break Points:

  small/mobile: <=640px
  medium/tablet: 768px
  large/laptop: 1024px
  xl/Desktop: >1280px
  
*/

:root {
  /*indigo-600 tailwind*/
  --primary-color: #5850ec;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
