@import './headerStyles.css';
@import './normalize.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
