/* Marketing Header Link Styles for Gatsby Link component */
.header_link {
  margin-left: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 1.1rem;
  font-weight: 800;
  color: black;
}

.header_link::before {
  content: '';
  margin-bottom: -5px;
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.header_link:hover::before {
  visibility: visible;
  width: 100%;
}

.header_active_link {
  margin-left: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 1.1rem;
  font-weight: 800;
  color: black;
}

.header_active_link::before {
  content: '';
  margin-bottom: -5px;
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

/* Mobile Header Link Styles used in Landing Page 2 */

.header_link_mobile {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
}

.header_link_mobile:hover {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  color: #eb4d4b;
}

.header_link_active_mobile {
  margin-left: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 1.1rem;
  font-weight: 800;
  color: #eb4d4b;
}

/* Header Links in User Dashboard */

.header_link_user {
  font-size: 1.075rem;
  font-weight: 500;
  color: darkgrey;
  padding: 0.6rem;
}

.header_link_user:hover {
  color: white;
  border-radius: 0.5rem;
}

.header_link_user_active {
  color: white;
}

/* Header Links for User Settings Page */

.header_link_settings {
  padding: 0.3rem;
  padding-bottom: 0.5rem;
  margin: 0.3rem;
  font-weight: 900;
  color: black;
}

.header_link_settings:hover {
  border-bottom: 3px blue solid;
  color: black;
}

.header_link_settings_active {
  border-bottom: 3px blue solid;
}

/* Header Links for product Nav */

.header_link_product {
  padding: 0.5rem;
  margin-right: 0.7rem;
  font-weight: 900;
  color: black;
  font-size: 1.05rem;
}

.header_link_product:hover {
  border-bottom: 3px blue solid;
  color: black;
}

.header_link_product_active {
  border-bottom: 3px blue solid;
}
