/* Header Link Styles */
.header_link {
  margin-left: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 1.1rem;
  font-weight: 800;
  color: black;
}

.header_link::before {
  content: '';
  margin-bottom: -5px;
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.header_link:hover::before {
  visibility: visible;
  width: 100%;
}

.header_active_link {
  margin-left: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 1.1rem;
  font-weight: 800;
  color: black;
}

.header_active_link::before {
  content: '';
  margin-bottom: -5px;
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

/* Header Link Styles End */
